* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  padding: 60px;
}
h2 {
  font-size: 2rem;
}
input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
  margin: 1rem;
}
.card {
  align-content: center;
  border-radius: 6px;
  box-shadow: 1px 1px 8px black;
  margin-bottom: 16px;
  margin-right: 16px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 3px 3px 8px black;
  transform: scale(1.05);
}
.card p {
  padding: 5px;
  text-align: center;
  max-width: fit-content;
}
.card img {
  max-height: 170px;
  width: 100%;
  /* object-fit: cover; */
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  /* flex-direction: row;
  flex-wrap: wrap; */
}