* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  padding: 1rem 3rem;
  background-color: #98ca3f;
}
h2 {
  font-size: 2rem;
}
ul {
  list-style: none;
  padding: 0;
}
input {
  color: gray;
  font-size: 1.2rem;
  width: 90%;
  margin: 0 5% 12px;
  border-radius: 6px;
}
.preview {
  font-size: 1.2rem;
  font-weight: bold;
}
.cards-container {
  background-color: #91b454;
  padding-top: .8rem;
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 1rem;
}
.card {
  align-content: center;
  border-radius: 6px;
  box-shadow: 1px 1px 8px black;
  margin-bottom: 16px;
  margin-right: 16px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 3px 3px 8px rgb(26, 26, 26);
  transform: scale(1.05);
}
.card-title {
  text-decoration: underline;
}
.card-background {
  background-color: #ECF0F1;
}
.card p {
  padding: 5px;
  text-align: center;
  max-width: fit-content;
}
.card img {
  max-height: 170px;
  width: 100%;
  /* object-fit: cover; */
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  /* flex-direction: row;
  flex-wrap: wrap; */
}
@media (max-width: 640px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  body {
    padding: 1rem 1rem;
  }
}